* {
    box-sizing: border-box;
}
body{
    background-image: url("Foto/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: white;
}
.logo img {
    height: 75px;   
}
.left-section{
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: inline-block
}
.dropbtn {
    margin: 3px;
    display: inline-block;
    background-color: rgb(54, 66, 54);
    color: rgb(216, 208, 208);
    padding: 16px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}
.nav-button, .icon{
    background-color: rgb(54, 66, 54);
    color: rgb(216, 208, 208);
    padding: 16px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}
.nav-button:hover,.dropbtn:hover{
    background: #6e8663;
    color: #000;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}
  

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.show {display:block;} 

input[type="text"] {
    border-radius: 20px; /* Makes the input field round */
    padding: 10px; /* Adds padding inside the input field */
    border: 1px solid #ccc; /* Border styling */
    outline: none; /* Removes default focus styling */
}

/* Placeholder text styling */
input[type="text"]::placeholder {
    color: #999; /* Placeholder text color */
}

main{
    width: 100%;
}
footer{
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center; /* Centers the text horizontally */
    position: relative;   /* Keeps the footer at the bottom */
    left: 0;
    bottom: 0;

    padding: 10px 0;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.tankai {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally centers the items */
}

.clickable-div {
    cursor: pointer;
    position: relative;
    flex: 0 0 45%;  /* Each clickable-div takes up 45% of the container width */
    margin: 10px;  /* Creates space between the clickable-div elements */
    text-align: center;  /* Centers the content within each clickable-div */
    overflow: hidden;  /* Ensures text doesn't overflow outside clickable-div */
}

.clickable-image {
    width: 100%;  /* Makes the image responsive */
    height: 100%;  /* Maintains the aspect ratio */
    border-radius: 10px;  /* Adds rounded corners to the image */
}
.clickable-image:hover{
    border: 3px solid gray;
}

.clickable-text {
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-weight: 800;
    position: absolute; /* Position over the image */
    bottom: 0; /* Align the text at the bottom of the clickable-div */
    left: 0; /* Left-align the text within the clickable-div */
    text-align: center; /* Centers the text horizontally */
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background color */
    color: white; /* Text color */
    width: 100%; /* Fill the entire width of the clickable-div */
    padding: 20px; /* Add padding inside the clickable-text */
}


.tankai{
    display: flex;
}

.tank-info {
    max-width: 800px;
    margin: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

h2, p {
    font-family: 'Source Sans Pro Topnav', sans-serif;
    color: #f1eaea;
    text-align: center;
}

.line1{
    display: flex;
    height: 50%;
}
.icon {
    display: none;
  }
@media only screen and (max-width: 1400px) {
    .tank-info {
        color: #000;
        padding: 10px;
        border-radius: 5px;
    }

    .tank-info h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .tank-info p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1100px) {
    .tankai {
        flex-direction: column;
    }

    .slide-buttons {
        position: static;
        transform: none;
        margin-top: 10px;
    }

    .slide-buttons button {
        display: block;
    }
    .clickable-div {
        cursor: pointer;
        position: relative;
        flex: 0 0 45%;  /* Each clickable-div takes up 45% of the container width */
        text-align: left;  /* Centers the content within each clickable-div */
        overflow: hidden;  /* Ensures text doesn't overflow outside clickable-div */
    }
    .clickable-image {
        width: 100%;  /* Makes the image responsive */
        height: 100%;  /* Maintains the aspect ratio */
        border-radius: 10px; 
        left: 0;
        position: relative;
    }
    .clickable-text {
        font-family: 'Source Sans Pro Topnav', sans-serif;
        font-weight: 800;
        position: absolute; /* Position over the image */
        bottom: 0; /* Align the text at the bottom of the clickable-div */
        left: 0%; /* Left-align the text within the clickable-div */
        text-align: center; /* Centers the text horizontally */
        background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background color */
        color: white; /* Text color */
        width: 100%; /* Fill the entire width of the clickable-div */
        padding: 10px; /* Add padding inside the clickable-text */
    }
    .tank-info h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .tank-info p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 900px) {
    .dropdown{
        display: none;
    }
    .nav-button, #search{
        display: none;
    }
    .icon {
        float: right;
        display: block;
        padding: 0;
        background-color: rgba(0,0,0,0);
        margin: 0;
      }
    }